= react_component('App', {}, { prerender: true })

= link_to 'Sign in with BBVN', 'http://sandbox-apis.bbvacompass.com/auth/tsec/authorize?response_type=code&client_id=app.compass.hack-fintech', target: '_blank'
